<h2>Index by Identifier</h2>

<%= bootstrap_form_tag url: process_ids_path do |form| %>
  <div class="row justify-content-center pt-5">
    <div class="col-md-6">
      <%= form.text_area :mms_ids, label: 'MMS IDs', control_col: 'col-sm-4' %>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
