<% @config_items.each do |config_item| %>
<% type = ConfigItem::LIST[config_item.name.to_sym][:type] %>
  <div class="config-value-panel">
    <%= case type
        when :boolean
          boolean_form config_item: config_item
        when :array
          select_form config_item: config_item
        else
          raise ArgumentError, "Unsupported ConfigItem type #{type}"
        end
    %>
  </div>
  <br>
<% end %>