  <h1>Users</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Active</th>
      <th scope="col">Date Created</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr class="user-row row-id-<%= user.id %>">
        <td class="email"><%= link_to user.email, user_path(user)%></td>
        <td class="active"><%= user.active ? 'Active' : 'Inactive' %></td>
        <td class="created-at"><%= user.created_at.strftime('%B %d, %Y %I:%M %p') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
